{% extends 'base.html.twig' %}

{% block title %}Nouveau customer - CRM3000{% endblock %}

{% block body %}
    <h1>Création d'un customer</h1>

    {{ include('customer/_form.html.twig') }}

    <a class="" href="{{ app.request.headers.get('referer') }}">Retour</a>
{% endblock %}
