{% extends 'base.html.twig' %}

{% block title %}Inteface administrateur - CRM3000{% endblock %}

{% block body %}
<div class="container-dashboard-admin">
    <h1>Interface Admin</h1>
</div>
{% endblock %}
