{% extends 'base.html.twig' %}

{% block title %}Inteface administrateur - CRM3000{% endblock %}

{% block body %}
<div class="container-dashboard-admin">
    <h1>Interface Admin</h1>

    <div class="container-link">
        <a href="{{ path('home_index') }}">Page d'accueil</a>
        <a href="{{ path('society_index') }}">Gérer les sociétés</a>
        <a href="{{ path('admin_user_index') }}">Gérer les utilisateurs</a>
        <a href="{{ path('customer_index') }}">Gérer les customers</a>
    </div>
</div>
{% endblock %}
