body {
    background-color: lightgray;
}

.container-alert-message {
    display: flex;
    justify-content: center;
    width: 100%;
}

.alertSuccessMessage {
    width: 500px;
    background-color: green;
    color: white;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
