{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle société - CRM3000{% endblock %}

{% block body %}
    <h1>Créer une nouvelle société</h1>

    {{ include('society/_form.html.twig') }}

    <a href="{{ path('society_index') }}">Retour à la liste</a>
{% endblock %}
