{% extends 'base.html.twig' %}

{% block title %}Création de produit - CRM3000{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>

    {{ include('item/_form.html.twig') }}

    <a href="{{ path('item_index') }}">Retour à la liste</a>
{% endblock %}
