{% extends 'base.html.twig' %}

{% block title %}Interface utilisateur - CRM3000{% endblock %}

{% block body %}
    <div class="container-dashboard-user">
        <h1>Interface Utilisateur</h1>

        <div class="container-link">
            <a href="{{ path('home_index') }}">Page d'accueil</a>
            <a href="{{ path('customer_index') }}">Gérer les customers</a>
        </div>
    </div>
{% endblock %}
