{% extends 'base.html.twig' %}

{% block title %}Inteface utilisateur - CRM3000{% endblock %}

{% block body %}
<div class="container-dashboard-index">
    <h1>Interface Utilisateur</h1>
</div>
{% endblock %}
