{% extends 'base.html.twig' %}

{% block title %}Création utilisateur - CRM3000{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a class="" href="{{ app.request.headers.get('referer') }}">Retour</a>
{% endblock %}
